@import "bootstrap/stylesheets/cobianzo-theme/variables";
@import "bootstrap/stylesheets/cobianzo-theme/mixins";

/* MY OWN CLASSES (generic) */
.hide-faraway {
	position:absolute;
	left:-30000px
}
.font-title {
	font-family:		$headings-font-family;
}
.font-default {
	font-family:		$font-family-base;
}
$nav-padding-top:		15px;	
.padding-top {
	padding-top:	$nav-padding-top - 1;
}
.padding-left {
	padding-left:	$nav-padding-top * 2;
}
.padding-bottom {
	padding-bottom:	$nav-padding-top * 2;
}

.two-col-ul {
	li {
		float:			left;	
		width:			49%;
		margin-right:	1%;
	}
}

.center-img-height{
	overflow:		 hidden;	
	max-height:		 300px;  // this will overwritten by tsome other class, if needed.
}
.height-427{
	max-height:		427px;
}


// ALV: animated gif for loading wheel 
.loading-wheel {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 999;
  text-align: center;
  background: white url("imgs/ajax-loader.gif") no-repeat center center;
  @include opacity(8/10);    
}


/*
Overwriting html 
*/
h1,h2,h3,h4,h5,h6 {
	color: 		$brand-secondary;
	padding:	0;
	margin:		5px 0;
}
h3{
	color:		$gray-light;
}
hr {
	border-color:	$brand-primary;
}
p { line-height: 1.6em; }

/* Mozilla based browsers */
::-moz-selection {
       background-color: 	$brand-primary;
       color: 				$gray-darker;
}

/* Works in Safari */
::selection {
       background-color: 	$brand-primary;
       color: 				$gray-darker;
}


/* OVERWRITING BOOTSTRAP CLASSES  */ 
.navbar-default { 	border:		0; }
.navbar-nav {
	font-family:		$headings-font-family;
	font-size:			14px;
	li.active a, li a.active	{
		border-bottom: 3px solid $brand-primary;		
	}
	a {	
		border-bottom: 		3px solid white;			
		padding:			20px 5px 0px 5px !important;
		margin:				0 10px;
				
		&:hover{
			border-bottom: 3px solid $brand-primary;	
		}
	}
}




body.admin-bar .navbar-fixed-top{
	margin-top:		32px;
}



/* HEADER*/

#header {

	@include transition(all, 1s, ease-in-out); 		// this doesnt have any effect. fix it
	
	&.navbar-fixed-top {
		
		height:				40px;
		background:			$gray-lighter;
		width:				100%;
		left:				0;
		top:				0;
		z-index:			9999;
		
		#primary-menu {
			background:		transparent;
			min-height:		0;
			width:			100%;
			margin:			0;
			padding:		0;
			
			#the-logo{
			
				max-height:		30px;
				margin-top:		5px;
				margin-left:	5px;
			
			}
			
			ul#menu-top-menu {
				
				padding-top:		8px;
			
				> li > a {
					padding-top:		0 !important;
				}
			}
		}
	}

	#the-logo {
		margin:				10px 0;
		position:			absolute;
		z-index:			99;
	}
	
	nav { 
		font-family:		$headings-font-family;
	}

	nav#primary-menu {
		padding-left:		0;
		border:				0;
		min-height:			100px;
		background:			white;
		
		h1 {
			padding:0; margin:0;
		}
		#border-bottom-container{
			position:		absolute;
			width:			100%;		
			border-bottom:	1px solid $gray-light;
		}
		#navbarCollapse { border: 0; }
		#menu-top-menu {
			float:			right;
			border-bottom:	1px solid $gray-light;
			padding-top:	$nav-padding-top;
			li {
				margin-bottom:	6px;

				a {
				}

			}
		
		}
	}

}
/* FOOTER */

@media screen and (min-width: $screen-sm-min ) {
	#footer ul#menu-footer-menu.navbar-nav li{ float: left;}
}
@media screen and (max-width: $screen-sm-min - 1) {
	#footer ul#menu-footer-menu.navbar-nav li{ 
		float: left; padding: 0px;
		a {padding:2px !important;}
	}
}
	
		
		
/* MAIN-CONTENT */
#important-content {
	 margin-top:		115px; 
}
		
/* COMPONENTS - WORKS PREVIEW */
ul#works-preview	{
	padding:	0 0 0 10px;
	li{
	
		list-style:		none;
		height:			200px;
		overflow:		hidden;
		padding:		0 10px 0 0;
		margin-bottom:	10px;
		
		h5 {
			font-family:'Dancing Script', cursive;
			font-size:	25px;
			position: 	absolute;
			background:	$gray-darker;
			width: 		100%;
			height: 	100%;
			margin: 	0;
			padding: 	10%;
			text-align: center;	
			display:	none;
			color:		$gray-lighter;			
			
			hr {
				margin: 10px 0 5px;
			}
		}
		&:hover h5 {

		}
		
	
		img {
			width:		100%;
			height:		auto;
		}
	}
}	
		
/* COMPONENTS - OWL CAROUSEL HOME */
$carousel-max-height:		300px;

#owl-demo {
	.owl-wrapper-outer {
		
	}
	
	 .item {
		.owl-img-container {
			max-height:		 $carousel-max-height;
		}
	 	img{
    		display: 			block;
		    width: 				100%;
    		height: 			auto;
		}
	}
}

.owl-buttons {
	position:		absolute;
	width:			100%;
	margin-top:		-200px;	
}
.owl-prev, .owl-next {
	zoom:			3;
	color:			white;
	margin-left:	4px;
	@include opacity(8/10);
}
.owl-next {
	position:		absolute;
	right:			13px;
}

@media screen and (min-width: $screen-sm-min ) {
	// para sobreponer el texto a la imagen
	.panel-carousel {
		@include opacity(9/10);
		position:		absolute;
		left:			5%;
		padding-bottom:	10px;
	}
	#owl-demo, #owl-demo .item {

	}
}
@media screen and (max-width: $screen-sm-min - 1) {
	#owl-demo .item img {
	
	}
}



/* COMPONENTEs -*/
div.wpcf7-mail-sent-ok {
	border: 			1px solid $brand-primary !important;
	background:			lighten($brand-secondary, 30%) !important;
}

/* FOOTER */

#footer {
	margin:			30px auto;
	padding-top:	20px;
	border-top:		1px solid $gray-light;

	.navbar-nav a{ 
		padding: 0 10px 0 10px !important;
		color:	 $gray-light;
		.active &, &.active {  border:0 ;}
		
	} .active a { border: 0;}
}


/* homepage */
#title-filter {
	padding-top: 	20px;
}

/* SINGLE PAGE */
.category-work{
	padding-top:	20px;
	h5 {
		text-align:		right;
		float:			right;
		padding-left:	0;		
		padding-right:	0;				
	}
	.btn {
		float:			right;
		text-align:		right;
	}
}
@media screen and (max-width: $screen-sm-min - 1) {
	.category-work h5, .category-work .btn { 
		float:left; text-align: left; padding-right:	10px;
	} .category-work .btn { margin-top: -5px;}
}
