/* line 5, style.scss */
.hide-faraway {
  position: absolute;
  left: -30000px;
}

/* line 10, style.scss */
.navbar {
  font-family: Century Gothic;
}

/* HEADER*/
/* line 19, style.scss */
#header nav {
  font-family: Century Gothic;
}
/* line 23, style.scss */
#header #primary-menu {
  padding-left: 0;
  border: 0;
}
/* line 27, style.scss */
#header #primary-menu h1 {
  padding: 0;
  margin: 0;
}
/* line 31, style.scss */
#header #primary-menu #navbarCollapse {
  border: 0;
}
/* line 32, style.scss */
#header #primary-menu #menu-top-menu {
  float: right;
  border-bottom: 1px solid #8d9190;
  padding-top: 24px;
}

/* MAIN-CONTENT */
/* line 45, style.scss */
#important-content {
  margin-top: 50px;
}

/* COMPONENTS - OWL CAROUSEL HOME */
/* line 51, style.scss */
#owl-demo .owl-wrapper-outer {
  margin-top: 30px;
}
/* line 55, style.scss */
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
