.hide-faraway {
	position:absolute;
	left:-30000px
}




/* HEADER*/

#header {


}

#header nav { 
	font-family:		Century Gothic;
}
	
	#primary-menu {
		padding-left:		0;
		border:				0;
	}
	#primary-menu h1 {
		padding:0; margin:0;
	}
		#navbarCollapse { border: 0; }
		#menu-top-menu {
			float:		right;
			border-bottom:	1px solid gray;
			padding-top:	24px;
		}
		
		
/* MAIN-CONTENT */
#important-content {
	margin-top:50px;
}
		
/* COMPONENTS - OWL CAROUSEL HOME */

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}